.main {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

.mainBg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mainBg img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mainHolder {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHolderOne {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHolderOneItem {
    position: relative;
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainHolderOneItem p {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: black;
}

.mainHolderOneItem h1 {
    position: relative;
    width: auto;
    height: auto;
    padding: 2px;
    line-height: 80px;
    font-size: 60px;
    font-weight: 500;
    text-transform: capitalize;
}

.mainHolderOneItemInput {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;

}

.mainHolderOneItemInput input {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mainHolderOneItemInput button {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #2785fc;
    color: white;
}

.mainHolderTwo {
    position: relative;
    width: 50%;
    height: auto;
    max-height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHolderTwoImage {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHolderTwoImage img {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    line-height: 0px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mainHolder {
        flex-direction: column;
        justify-content: space-between;
    }

    .mainHolderOne {
        width: 100%;
        height: 50%;
    }

    .mainHolderOneItem p {
        font-size: 15px;
    }

    .mainHolderOneItem h1 {
        line-height: 50px;
        font-size: 40px;
    }

    .mainHolderOneItemInput {
        flex-wrap: wrap;
        justify-content: left;
    }

    .mainHolderOneItemInput button {
        width: auto;
        font-size: 15px;
        padding: 10px 15px;
    }

    .mainHolderTwo {
        width: 100%;
        height: 50%;
        max-height: 50%;
        padding: 0px;
    }

    .mainHolderTwoImage {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px;
        max-height: 100%;
    }

    .mainHolderTwoImage img {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
    }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
    .mainHolder {
        flex-direction: column;
        justify-content: space-between;
    }

    .mainHolderOne {
        width: 100%;
        height: 50%;
    }

    .mainHolderOneItem p {
        font-size: 15px;
    }

    .mainHolderOneItem h1 {
        line-height: 50px;
        font-size: 40px;
    }

    .mainHolderOneItemInput {
        flex-wrap: wrap;
        justify-content: left;
    }

    .mainHolderOneItemInput button {
        width: auto;
        font-size: 15px;
        padding: 10px 15px;
    }

    .mainHolderTwo {
        width: 100%;
        height: 50%;
        max-height: 50%;
        padding: 0px;
    }

    .mainHolderTwoImage {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px;
        max-height: 100%;
    }

    .mainHolderTwoImage img {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}