@media (max-width: 480px) {
    
    .arrow2-icon{
        position: relative;
        left: -100px;
        transform: rotate(180deg);
        
        top: 5px;
    }
    .arrow1-icon{

        position: relative;
        left: 30px;
        transform: rotate(180deg);
       
    }
   
    .leader{
       
        width: 300px;
        position: relative;
        left: -80px;
    }
    .divider{
        width: 240px;
        position: relative;
        left: 30px;
    }   

    .vision{
        position: relative;
        left: -70px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 602px) {
    .divider{
         width: 240px;
       
    }
    .leader{
        position: relative;
        left: -80px;
    }
    .vision{
        position: relative;
        left: -80px;
    }
    
  }