.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.welcomeTitle {
  text-align: -webkit-left;
}
.knowMore {
  margin: 20 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.aboutGrid {
  padding: 32px 0px 0px 35px;
}

.mainContentText {
  margin-top: 51px;
  margin-left: 247px;
}

.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  z-index: 2;
}

.welcomeMessage {
  margin-top: "20px";
}

.secondContentImage {
  width: 565px;
  height: 565px;
  /* margin-top: 45px; */
  /* margin-left: 25px; */
}

@media screen and (min-width: 900px) {
  .aboutGrid {
    padding: 32px 0px 0px 115px;
  }

  .mainContentText {
    margin-top: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 898px) {
  .secondContentImage {
    width: 450px;
    height: 450px;
    /* margin-top: 150px; */
    /* margin-left: 45px; */
    margin-bottom: 45px;
    max-width: 100%;
    height: auto;
  }

  .mainContentText {
    margin-top: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .backgroundImage {
    height: auto;
  }

  .mainContentText {
    margin-top: 160px;
    margin-left: 80px;
  }

  .mainGrid {
    margin-top: 0px !important;
  }
  .welcomeMessage {
    margin-top: 0;
  }
  .welcomeTitle {
    text-align: center;
  }
  .buttonAlignment {
    height: 100% !important;
  }
}

@media screen and (min-width: 1200px) {
  .mainContentText {
    margin-top: 51px;
    margin-left: 247px;
  }
}
